
.ContentField
{
  width: 100%;
  height: 500px;
  background-color: #e0a3a3;

}

.Navbar
{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #b73c3c;
  text-align: center;
  line-height: 55px;
  color: white;
  letter-spacing: 2px;
}

.Logo
{
  display: inline-block;
  margin-top: 35px;
  background-image: url('tower.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 330px;
  background-color: #ce6f63;
  text-align: center;
  z-index: -1;
}

.Footer
{
  line-height: 40px;
  background-color: #2b3d5b;
  width: 100%;
  height: 300px;
  text-align: center;
  color: red;
}